<html>
    <head>
        <title>Radiator Palace Summit Seaweed</title>
    </head>
    <body>
        <div id='global'>
            <div id='head'>
                <h1>Error 404 - Page Not Found</h1>
            </div>
            <div id='nav'>
            </div>
            <div id='main'>
                <p>I'm sorry, we couldn't find the page you wanted.</p>
                <p>Radiator Palace Summit Seaweed</p>
            </div>
        </div>
    </body>
</html> 
