<html>
    <head>
        <title>Radiator Palace Summit Seaweed</title>
    </head>
    <body>
        <div id='global'>
            <div id='head'>
                <h1>Welcode to Radiator Palace Summit Seaweed</h1>
            </div>
            <div id='nav'>
            </div>
            <div id='main'>
                <p>This is the ultimate source for all your SEO and web-hacking info.</p>
                <p>Radiator Palace Summit Seaweed</p>
            </div>
        </div>
    </body>
</html> 
