<html>
    <head>
        <title>Radiator Palace Summit Seaweed</title>
    </head>
    <body>
        <div id='global'>
            <div id='head'>
                <h1>Post a Post</h1>
            </div>
            <div id='nav'>
            </div>
            <div id='main'>
                <p>This is where the page to post a Post will go.</p>
                <p>Radiator Palace Summit Seaweed</p>
            </div>
        </div>
    </body>
</html> 
